<div class="container">
    <h2>Schedules</h2>
    <p>The .table-hover class enables a hover state on table rows:</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12-Apr-2016</td>
                <td>26-Jul-2016</td>
                <td><a href='#'><span class='glyphicon glyphicon-edit'></span></a></td>
            </tr>
            <tr>
                <td>2-Mar-2016</td>
                <td>3-Aug-2016</td>
                <td><a href='#'><span class='glyphicon glyphicon-edit'></span></a></td>
            </tr>
            <tr>
                <td>12-Jun-2016</td>
                <td>30-Sep-2016</td>
                <td><a href='#'><span class='glyphicon glyphicon-edit'></span></a></td>
            </tr>
        </tbody>
    </table>
</div>