

<div class="box-footer clearfix no-border">
    <a href="@Url.Action("Create","CourseMgt")">
        <button type="button" class="btn btn-default pull-left">
            <i class="fa fa-plus"></i> Add item
        </button>
    </a>
   
</div>

