@using (Html.BeginForm("UploadGlobalEmployee", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload global employees: </label>
            <input type="file" id="dataFile" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
}

@using (Html.BeginForm("UploadGlobalTraining", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload global training: </label>
            <input type="file" id="dataFileDataTraining" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    <div>

    </div>

}

@using (Html.BeginForm("UploadLocalEmployee", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload local employees: </label>
            <input type="file" id="dataFileDataTraining" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    <div>

    </div>

}

<script>

</script>
<style>
    .custom-file-upload {
        display: block;
        width: auto;
        font-size: 16px;
        margin-top: 30px;
        border: 1px solid #ccc;
    }
        /*label:

    {
        display: block;
        margin-bottom: 5px;
    }

    }*/
</style>
