@model IList<ATS.Data.Employee>


@using (Html.BeginForm("UploadGlobalEmployee", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload global employees: </label>
            <input type="file" id="dataFile" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
}

@using (Html.BeginForm("UploadGlobalTraining", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload global training: </label>
            <input type="file" id="dataFileDataTraining" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    <div>

    </div>

}

@using (Html.BeginForm("UploadLocalEmployee", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload local employees: </label>
            <input type="file" id="dataFileDataTraining" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    <div>
        @if (Model != null && Model.Count > 0)
        {
            var grid = new WebGrid();
            WebGridColumn[] gridColumns;
            grid = new WebGrid(Model, canPage: true, rowsPerPage: 8);

            gridColumns = new WebGridColumn[2];
            gridColumns[0] = grid.Column("EmployeeID", "Employee ID", format: @<text> @item.EmployeeID </text>, style: "grp");
            gridColumns[1] = grid.Column("NTID", "NTID", format: @<text> @item.NTID</text>, style: "name");

            @grid.GetHtml(
        tableStyle: "GridView",
        htmlAttributes: new { width = "99%", id = "gdComplaintList" },
        mode: WebGridPagerModes.All,
        columns: grid.Columns(gridColumns))
        }



    </div>
}

@using (Html.BeginForm("UploadScanTime", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload Scantime: </label>
            <input type="file" id="dataFile" name="upload" accept=".log" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
}


<script>

</script>
<style>
    .custom-file-upload {
        display: block;
        width: auto;
        font-size: 16px;
        margin-top: 30px;
        border: 1px solid #ccc;
    }
</style>
