@model IList<ATS.Data.Employee>
<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-2.2.3.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-2.2.3.js"></script>

@using (Html.BeginForm("UploadGlobalEmployee", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload global employees: </label>
            <input type="file" id="dataFile" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    <div>
        @if (ViewBag.MessageUploadGlobalEmployee != null)
        {
            if (ViewBag.MessageUploadGlobalEmployee == "success")
            {
                <div class="alert alert-success " id="divUploadGlobalEmployeeSuccess">
                    <strong>Upload Success!</strong> Upload employee global succes.
                </div>
            }
            else
            {
                <div class="alert alert-danger " id="divUploadGlobalEmployeeUnSuccess">
                    <strong>Upload Unsuccess!</strong> Upload employee global unsucces.
                </div>
            }
        }
    </div>
}

@using (Html.BeginForm("UploadGlobalTraining", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload global training: </label>
            <input type="file" id="dataFileDataTraining" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    <div>
        @if (ViewBag.MessageGlobalTraining != null)
        {
            if (ViewBag.MessageGlobalTraining == "success")
            {
                <div class="alert alert-success " id="divUploadTrainingBasicSuccess">
                    <strong>Upload Success!</strong> Upload training basic succes.
                </div>
            }
            else
            {
                <div class="alert alert-danger " id="divUploadTrainingBasicUnSuccess">
                    <strong>Upload Unsuccess!</strong> Upload training basic unsucces.
                </div>
            }
        }
    </div>
}

@using (Html.BeginForm("UploadLocalEmployee", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="custom-file-upload row">
        <div class="col-md-8">
            <label for="file">Upload local employees: </label>
            <input type="file" id="dataFileDataTraining" name="upload" accept=".xlsx" />
        </div>
        <div class="col-md-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    <div>
        @if (ViewBag.MessageUploadLocalEmpoyee != null)
        {
            if (ViewBag.MessageUploadLocalEmpoyee == "success")
            {
                <div class="alert alert-success " id="divUploadLocalEmployeeSuccess">
                    <strong>Upload Success!</strong> Upload employee local succes.
                </div>
            }
            else
            {
                <div class="alert alert-danger " id="divUploadLocalEmployeeUnSuccess">
                    <strong>Upload Unsuccess!</strong> Upload employee local unsucces.
                </div>
            }
        }
    </div>
}
<style>
    .custom-file-upload {
        display: block;
        width: auto;
        font-size: 16px;
        margin-top: 30px;
        border: 1px solid #ccc;
    }
</style>
