@model IList<ATS.Data.Employee>

<section class="col-lg connectedSortable">

    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-calendar-o"></i>
            <h3 class="box-title">Upload</h3>
        </div>

        <div class="box-footer clearfix">
            footer
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            @using (Html.BeginForm("UploadGlobalEmployee", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="custom-file-upload row">
                    <div class="col-md-7">
                        <label for="file"><i class="fa fa-file-excel-o"></i> Global employees: </label>
                        <input type="file" id="dataFileGlobalEmployee" name="upload" accept=".xlsx" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Upload" class="btn btn-block btn-primary btn-flat" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        @if (ViewBag.MessageUploadGlobalEmployee != null)
                        {
                            if (ViewBag.MessageUploadGlobalEmployee == "success")
                            {
                                <div class="alert alert-success alert-div" id="divUploadGlobalEmployeeSuccess">
                                    <strong>Upload Success!</strong> Upload employee global succes.
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger alert-div" id="divUploadGlobalEmployeeUnSuccess">
                                    <strong>Upload Unsuccess!</strong> Upload employee global unsucces.
                                </div>
                            }
                        }
                    </div>
                </div>
            }

            @using (Html.BeginForm("UploadLocalEmployee", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="custom-file-upload row">
                   
                    <div class="col-md-7">
                        <label for="file"><i class="fa fa-file-excel-o"></i>Upload local employees: </label>
                        <input type="file" id="dataLocalEmployee" name="upload" accept=".xlsx" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Upload" class="btn btn-block btn-primary btn-flat" id="btnUploadLocalEmployees" />
                    </div>
                 
                </div>
                <div class="row alert-div">
                    <div class="col-md-9">
                        @if (ViewBag.MessageUploadLocalEmpoyee != null)
                {
                    if (ViewBag.MessageUploadLocalEmpoyee == "success")
                    {
                                <div class="alert alert-success " id="divUploadLocalEmployeeSuccess">
                                    <strong>Upload Success!</strong> Upload employee local succes.
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger " id="divUploadLocalEmployeeUnSuccess">
                                    <strong>Upload Unsuccess!</strong> Upload employee local unsucces - ViewBag.MessageUploadLocalEmpoyee.
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            <!-- /.box-body -->
        </div>
    </div>


</section>
